.navbar-container {
    overflow: hidden;
    border-bottom: 1px solid rgba(128,128,128,0.17);
    background-color: #fff;
    z-index: 1;
}

.topbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #008080;
    color: #fff;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    background-color: #ffffff;
    margin-bottom: 10px;
}

.nav-link{
    font-weight: 600;
    margin-left: 20px;
}

.brand-logo{
    width: 100%;
    height: 100px;
}

.brand-logo:hover{
    opacity: 0.9;
}